[2020-01-21 19:36] gearsdigital opened #1 "add animated image preview"
![panel-view](https://user-images.githubusercontent.com/965069/72836833-a97fc600-3c8d-11ea-958f-76af3d919ec4.gif)

[2020-01-21 19:36] #1 closed, assigned to nobody

[2020-01-21 20:17] gearsdigital opened #2 "Remove domain from page url"
It would be much more convenient and less error prone if we would strip out the domain.

### Before
`(link: http://localhost:3010/images/mountains text: mountains)`

### After
`(link: /images/mountains text: mountains)`

[2020-01-22 12:56] gearsdigital opened #3 "Add default dialog behaviour"
It would make sense to make the Dialog exactly like the default page dialog. Currently there are all pages included. Not Level 1 -> Level 2 …

![cf8b65b15aced14d817fb0dee8d6d2e684966cdd-1](https://user-images.githubusercontent.com/965069/72895919-d4fec100-3d1e-11ea-8dff-1b54b08f9da2.png)

[2020-01-22 13:58] janherman opened #4 "Internal link search - no pages shown"
When I start typing into the search field and then delete it (so that the field is empty), it should show me all the pages again. But no pages are displayed in the list below the field.

[2020-01-22 14:48] gearsdigital commented on #4
Valid point 👍 Will fix that.

[2020-01-22 15:06] janherman opened #5 "Make search case-insensitive?"
I just realized the search is case sensitive. For example, I have a page called "Kontakt". It does not find that page when I type "kontakt" into the search field. Is it possible to make it case-insensitive? :-)

[2020-01-22 15:24] gearsdigital commented on #5
Makes total sense! Thank you very much for reporting!

[2020-01-22 19:36] gearsdigital opened #6 "Show empty state when no pages where found"

[2020-01-22 19:37] #4 closed

[2020-01-22 19:37] #6 closed

[2020-01-22 19:40] gearsdigital commented on #5
@janherman I was not able to reproduce this... 🧐

<img width="1110" alt="Bildschirmfoto 2020-01-22 um 20 38 52" src="https://user-images.githubusercontent.com/965069/72927919-5f631700-3d57-11ea-8e6b-e71066c8a70f.png">

[2020-01-22 19:40] gearsdigital commented on #4
This is fixed now. Will provide a new release soon.

[2020-01-23 07:42] janherman commented on #5
Ok, I have tested it again. :blush:

My first language is Czech. In Czech, there are some letters with diacritic. If a word starts with one of those letters, the search result is shown only after I finish the whole word. In other cases, I only start typing and the results filter accordingly.

**What I did:**
1. I have a page called "Školní jídelna"
2. Start typing "škol", nothing happens
3. Finish

[2020-01-23 08:49] gearsdigital commented on #5
Thank you very much! Your explanation was awseome and I was now able to reproduce this issue.

I figured that this issue is not related to _Enhanced Toolbar Link Dialog_ to Kirby itself. Pretty sure this is somehow related to the underlying search enginge as this beaviour is also reproducable using the global search in the top right corner.

I filed an issue for Kirby and add a refernce to this is

[2020-01-24 20:51] gearsdigital opened #7 "Evaluate dedicated toolbar button"
Right now, Enhanced Toolbar Link Dialog, does what its name says, it extends the standard link dialog by adding a tabbed interface.

It might be a good idea to have dedicated toolbar button which would reduce the overall complexity.

[2020-01-24 22:05] #2 closed

[2020-01-24 22:34] gearsdigital commented on #5
@janherman I'll close this issue for because the root cause is Kirby's underlying search. You can keep track of your issue in above mentioned Kirby issue.

Let me know if you find anything else or if you've ideas to improve this plugin.

[2020-01-24 22:34] #5 closed

[2020-01-26 08:08] CrisGraphics opened #9 "Relative Links don't work with Subpages"
Unfortunately the links to subpages don't work now.
Maybe You could have a look into that.
Thank You! =)
![test](https://user-images.githubusercontent.com/16305374/73132431-5a35ee80-401b-11ea-9cf8-585b6734c788.gif)

[2020-01-26 08:41] gearsdigital commented on #9
Thank you very much for bringing this up @CrisGraphics! I'll have a look on that and provide fix soo.

[2020-01-26 13:34] #9 closed

[2020-01-26 15:18] texnixe opened #10 "Error when accessing a page with a page model"
When I try to access a page with a custom model in the Panel, I get an error `The view "default" does not exist`.

[2020-01-26 16:39] gearsdigital commented on #10
Thank you very much for bringing this up @texnixe! Very appreciated! 😊

Could you please provide a simple example? How do you access a page with a custom model?

[2020-01-26 16:43] texnixe commented on #10
I think this happens as soon as you create a page model for any page. In this case, the model only has a simple function that is not really that important, so I could work around this, but in other cases, that wouldn't be great.

[code]

[2020-01-26 17:04] gearsdigital commented on #10
Thanks! I’ve have guess what the problem could be. Let me fiddle a bit… I’ll come back to you 😊

[2020-01-26 18:40] gearsdigital commented on #10
The issues was that I've defined a (obviously) unnecessary model type declaration 🤷🏻‍♂️

[2020-01-26 21:45] gearsdigital commented on #10
Should now be fixed with [1.2.3]( https://github.com/gearsdigital/enhanced-toolbar-link-dialog/tree/v1.2.3)

[2020-01-26 21:45] #10 closed

[2020-02-15 13:11] codiflow opened #11 "Download-Link destination in README wrong"
It leads to https://github.com/gearsdigital/kirby-reporter/releases/latest instead of https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases

[2020-02-17 08:19] gearsdigital commented on #11
@codiflow, thank you so much for bringing this up! I'll fix that immediately.

Children, that is the reason why you not copy and paste anything!

[2020-02-17 08:19] #11 closed

[2020-04-17 09:19] bnomei opened #12 "add plugin option to configure displayed title"
could use an plugin option based on a query instead.
i would need that to show parent title as a category kind of style.

[code]

https://github.com/gearsdigital/enhanced-toolbar-link-dialog/blob/master/index.php#L16
[code]

[2020-04-17 18:54] gearsdigital commented on #12
Absolutely! I've limited time right now and I guess I will provide this feature by the end of next week. A pull request is very much appreciated 🙂

[2020-04-19 10:45] #7 closed

[2020-04-19 14:13] nicolasbulb opened #13 "Add Open in a new tab? option toggle for External links"
I would be so nice to be able to add an Open in a new tab? option toggle for External links.

[2020-04-20 06:53] gearsdigital commented on #13
Good morning @nicolasbulb, I'll have a look on that :)

[2020-04-20 06:59] constantinjoly opened #14 "Issue when trying to use plugin in panel Tab"
It seems that there is a bug if plugin is not used in the first page Tab. When try to click to internal link tab, it will redirect to the first page tab:

![GIF](https://user-images.githubusercontent.com/49160577/79722776-f69f2280-82e4-11ea-889a-7c693f4d6710.gif)

[2020-04-20 07:13] gearsdigital commented on #14
Hi @constantinjoly, thats a good catch! Thank you very much for bringing this my attention 👍  I'll have a look later this week.

[2020-07-02 15:48] CrisGraphics opened #15 "Plugin breaks Panel of kirby v.3.4.0-rc.2"
**Describe the bug**
Unfortunately Your plugin breaks the panel of the recent kirby version.

**To Reproduce**

Case 1:
1. If the panel is already installed, go to _panel/users_
2. No user is shown
3. Creating a new User also fails

**Console output**:
[code]
<img width="1538" alt="enhanced-toolbar-link001" src="https://user-images.githubusercontent.com/16305374/86379273-ef07dc80-bc8a-11ea-831f-4b

[2020-07-02 20:57] gearsdigital commented on #15
Hey @CrisGraphics, thank you so much for bringing is up 🤯

I can confirm this issue and need to have a deeper look. The changelog states a bunch of kirby refactorings so it probably relates to that. Not sure what is going on...

[2020-07-03 06:44] CrisGraphics commented on #15
Wish I could help You, but I (still) have absolutely no Vue skills, even though the issue seems to be php related...

[2020-07-03 07:37] gearsdigital commented on #15
I appreciate that but no worries! I already found the root cause but I’m still not sure why it breaks something totally unrelated 😑

I’m going to fix some of the other issues and provide a release soon.

[2020-07-03 20:38] #13 closed

[2020-07-03 20:43] gearsdigital commented on #13
@nicolasbulb It took me quite a while but with version 1.3.0 you'll have the ability to specify a link target. You can expect a release within the next days.

<img width="1514" alt="Bildschirmfoto 2020-07-03 um 22 40 42" src="https://user-images.githubusercontent.com/965069/86496623-9285e980-bd7e-11ea-85d7-4d5e839f3f5d.png">

[2020-07-03 20:44] #3 closed

[2020-07-03 20:50] gearsdigital commented on #15
@CrisGraphics This issue has now fixed. Sadly I'm not able to explain why this issue occurred at all. I'll try clariy that by opening a bug ticket in kirby core. It seems wired to me that something totally unrelated broken. I'll keep you updated here...

[2020-07-03 21:29] gearsdigital commented on #12
@bnomei It took me a while but I finally added the suggested option to configure the displayed title. Would you mind to have a look at #18 ?

[2020-07-04 09:00] #12 closed

[2020-07-04 12:41] #14 closed

[2020-07-04 12:42] gearsdigital commented on #14
@constantinjoly Thanks again for reporting this issue. It has now been fixed and will be released with version 1.3.0.

[2020-07-06 08:04] CrisGraphics commented on #15
Hey,
many thanks for looking into it, I really appreciate it.
Sadly it still doesn't work with kirby v3.4.0-rc2 (tried both installations, via composer and manually).

This is, what I get, when I want to install the panel:
<img width="1963" alt="starterkit-panel-install" src="https://user-images.githubusercontent.com/16305374/86568949-f28eb280-bf6d-11ea-8d70-3c6b23d92b7e.png">

And this, when a us

[2020-07-06 08:17] CrisGraphics opened #20 "link target shows 2x _blank"
Sorry to bother again, but here's another (small) bug, that I've found.

**Describe the bug**
The label for 'self' in the dropdown shows 'blank'.

**Screenshot**
<img width="473" alt="target" src="https://user-images.githubusercontent.com/16305374/86570626-819cca00-bf70-11ea-9651-8d0516420f46.png">

**enhanced-toolbar-link-dialog Version**
1.3

**Kirby Version**
3.3.6

Also, maybe an enhancement c

[2020-07-06 09:14] gearsdigital commented on #15
@CrisGraphics Dang! Sorry for that... 🙊 Unfortunately I'm no longer able to reproduce this. Maybe it's a dumb question but have you tried to clear the browser cache?

![Bildschirmvideo aufnehmen 2020-07-06 um 11 08 25](https://user-images.githubusercontent.com/965069/86576964-cda03c80-bf79-11ea-8d80-9008f2c3f20b.gif)

It would be awesome if you could provide an example.

[2020-07-06 09:20] gearsdigital commented on #20
@CrisGraphics It seems I owe you a couple of beers 🍻! Thank you so much for reporting all the issues!!!

I can confirm that issue and will fix it later today. The enhancement is also a great idea and will be added too :)

[2020-07-06 09:35] #20 closed

[2020-07-06 09:36] gearsdigital opened #21 "Activate insert button after selection"
Only show the modal insert button (or make it active), when a page has been selected, so the user can't insert `(link: null)`.

[2020-07-06 10:34] CrisGraphics commented on #15
Hm, that's weird,...
Here's how I installed it:

**Terminal**:

Installed the starterkit (as described [here](https://getkirby.com/docs/cookbook/setup/composer#starting-a-new-project)):
`composer create-project getkirby/starterkit starterkit`

then updated the require section of the `composer.json` to this:
[code]
and then just hit
`composer update`

- Updating filp/whoops (2.3.1 => 2.7.2): Downlo

[2020-07-07 14:46] janherman commented on #15
I experience kind of similar issue after updating Kirby to 3.4.0 and Enhanced Toolbar Link Dialog to 1.3.1. When I open the panel, I get the error: Undefined index: type

[2020-07-07 16:08] gearsdigital commented on #15
Thank you very much @janherman for reporting this issue. I’ll have a look an try to investigate what is going on…

[2020-07-08 07:05] gearsdigital commented on #15
@janherman @CrisGraphics I reseted my kirby development environenment completely, installed a fresh starterkit and a the latest version of _Enhanced Toolbar Link Dialog_ (which is namly 1.3.1) via composer and for gods sake I've no issues :(

Could you please provide some details about your setup? What kind of other plugins have you installed?

[2020-07-08 14:19] janherman commented on #15
I think the issue is not related to other plugins. At least in my case. I tried fresh Kirby Starterkit, updated Kirby to 3.4.0 and installed the latest version of Enhanced Toolbar Link Dialog (1.3.1). Still get the same error.

![Image 1](https://user-images.githubusercontent.com/22095056/86930020-ca9e7b00-c136-11ea-80d7-383c1cd7f81e.png)

I tested in latest Firefox and Chrome and I use Xampp with

[2020-07-08 16:47] gearsdigital commented on #15
Thanks @janherman! Maybe this relates to PHP itself. You're using` 7.4.1` while I'm on [7.2.2](url). @CrisGraphics Which PHP Version are you running?

[2020-07-08 18:02] gearsdigital commented on #15
@janherman @CrisGraphics Could you please try to remove `'type'=> null,` from [`site/plugins/enhanced-toolbar-link-dialog/index.php:11`](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/blob/master/index.php#L11) manually and tell me if that solves the issue?

[2020-07-09 06:29] janherman commented on #15
Thanks for your suggestion, @gearsdigital. I removed the line but it did not solve the issue. I even do not get to the login screen, the error message appears as soon as I try to access panel/login page (I was able to login before, the error message showed right after I logged in).

By PHP log you mean something like phpinfo() output or anything else?

[2020-07-09 06:34] CrisGraphics commented on #15
@gearsdigital Sorry for the late reply,
as @janherman mentioned, the error persists by removing the line. If I give the type some value, I can at least fill in the login form but after hitting login, the same error shows up again: `undefined index type`.
I'm also running php 7.4

[2020-07-09 06:40] gearsdigital commented on #15
I mean... WTF?

@janherman Just the php-error.log. You can lookup the location using `<?php phpinfo(); ?>`.
@CrisGraphics No worries. I'm glad you both are helping me out here :)

[2020-07-09 06:44] CrisGraphics commented on #15
Unfotunately there's still no docs for [custom models](https://getkirby.com/docs/reference/plugins/extensions/api#custom-models)...  Will try and look through Your code, maybe I'll find sth... 🙌🏼

[2020-07-09 07:12] janherman commented on #15
@gearsdigital Ok, I found it and there are no errors at all. :shrug:

[2020-07-09 07:13] gearsdigital commented on #15
Thanks for your effort!

[2020-07-09 08:22] CrisGraphics commented on #15
So, I don't know why, but I think I got it...
You also have to declare a type for the `simplepagecollection`:

[code]

[2020-07-09 08:26] gearsdigital commented on #15
On step by the time. I'm now able tp reproduce this issue by adding `error_reporting(E_ALL);` to the top of the index.php. Now I only need to understand how custom models are really working.

[2020-07-09 08:32] gearsdigital commented on #15
@CrisGraphics I tried that biut it didn't work. I got it working by additionally adding `'type'=> null` to the models section.

[code]

[2020-07-09 08:33] CrisGraphics commented on #15
Yes, that's exactly what I wrote above =)

[2020-07-09 08:35] gearsdigital commented on #15
My bad 🙈

I'ld love to have you as contributer here! https://opensource.com/article/19/7/create-pull-request-github

[2020-07-09 08:35] gearsdigital commented on #15
@janherman Can you verify the solution works for you?

[2020-07-09 08:37] CrisGraphics commented on #15
Thanks for the Tutorial Page (*embarrassed).
I'll check it out in a minute 😀

[2020-07-09 08:39] janherman commented on #15
Yes, I can confirm this solution works with my setup. 👍

[2020-07-09 08:41] gearsdigital commented on #15
Sorry, I didn't mean to embarrass you @CrisGraphics! I assumed that you're not familiar with making pull requests... If you have any questions please let me know. I'll guide you throug the process if you want to. Just want to make sure you get the credits here :)

[2020-07-09 08:43] gearsdigital commented on #15
@janherman Awesome! Thanks for checking out.

I'll provide a fix as soon as @CrisGraphics made the PR (No pressure @CrisGraphics. Take your time! ☺️ )

[2020-07-09 09:34] janherman opened #22 "Internal link search not working"
I noticed Internal link search field is not working properly after updating to 1.3.1.

**To reproduce:**
1. open link dialog and switch to Internal link
2. start typing - no filter is applied and I get a lot of errors in console: `Uncaught TypeError: can't access property "page", c.pagination is undefined`

If I have more pages, so that pagination is displayed at the bottom, the search kind of wor

[2020-07-09 09:42] CrisGraphics commented on #15
You were assuming right, haha. Ok, I tried to make a pull request. Hope I didn't blow up GitHub or the Internet now...

[2020-07-09 09:55] CrisGraphics commented on #22
I can confirm that issue.
Same setup

[2020-07-09 10:54] gearsdigital commented on #15
How awesome :)

[2020-07-09 10:56] gearsdigital commented on #15
Thank you very much @janherman and @CrisGraphics! As this issue seems to be resolved now I'm going to close it :)

[2020-07-09 10:56] #15 closed

[2020-07-09 10:56] gearsdigital commented on #22
Yeah, I can confirm that too. Thanks for reporting @janherman !

[2020-07-09 10:58] gearsdigital opened #24 "Add automated test setup"
We need a automated test setup. Period.

[2020-07-09 11:48] #22 closed

[2020-07-09 12:18] CrisGraphics commented on #22
Many thanks for the effort Your put into this plugin and keeping it up to date!
All the best! 🍻🍻🍻

[2020-07-09 16:40] gearsdigital opened #27 "Make dialog tab order configurable"
One might to deal with internal links a lot and it's a bit inconvienent to always click on the second tab first before you can select a site.

Wouldn't it be awesome if you can spare a click and have the Internal Link Tab the first one opened?

[2020-07-11 09:21] #24 closed

[2020-07-11 16:23] gearsdigital commented on #21
I decided not to change the `Ok-Button` behaviour. The reason is that the panel doesn't have such kind of functionality and I think that this would breal with the current Panel UI.

Instead I fixed the issue of `(link: null)` being inserted when the dialog gets closed via Ok but without any selection.

//cc @CrisGraphics

[2020-07-11 16:23] #21 closed

[2020-07-11 20:49] gearsdigital opened #30 "Move dialog pagination"
Right now the pagination is the very last element but to improve the usability it should be closer to the page list.

[2020-07-11 21:11] #30 closed

[2020-07-11 21:20] gearsdigital commented on #27
This is more complex as I've initially assumed. The main issue is that there is, as far as I know, no way to pass options down to the Vue instance.

I fiddled a bit arround today and probably found a workaround. The key point is that Kirby passes translations to Vue. This enables us to programmatically extend the plugin translations by adding a "hidden" key during render time. This key can than be

[2020-07-13 09:44] #27 closed

[2020-07-17 06:34] CrisGraphics commented on #21
Sorry, again I'm late to the party! Yes, You're right!
I also noticed that the default Panel dialogue behaviour allows to insert an empty link tag, right after I made that suggestion -  so Your decision definitely makes more sense here!
Thanks @gearsdigital  for keeping it up to date! Have a great weekend! ✌🏼🙃

[2020-07-17 06:48] CrisGraphics opened #33 "Make Link-Target Text in Dropdown configurable"
Here's another improvement, that could be useful.
Sometimes there are Editors that have absolutely no idea what "target:" self, blank, top, etc means.
So instead of hardcoding the text into select field, we could extend the options in the config with a custom text, like

[code]

I don't want to bother You too much, so I can try to solve it myself and make a pull request again (will probably find s

[2020-07-18 09:52] gearsdigital commented on #33
That is actually a very good idea @CrisGraphics. Many Thanks!

[2020-08-16 18:34] henninghorn opened #34 "Enable link dialog in Kirby Editor"
Great plugin! Really helps lower the barrier for non-technical editors.

Is there anyway to trigger the plugin's link dialog when adding a link within the [Kirby Editor](https://github.com/getkirby/editor)? Unfortunately when you mark a text and want to add/convert it to a link, you get the standard link dialog.

I have tried to read through the plugin's code, but I can't see where the hook for th

[2020-08-16 19:04] gearsdigital commented on #34
Hi @henninghorn, I very appreciate your feedbak 👍

It's true, this Plugin isn't compatible to the Kirby Editor. This question was asked before in the Kirby Forums and but I haven't had time to take a deeper look onto the Editor but I'ld probably start here: https://github.com/getkirby/editor/blob/5e6263a0e660932490133790af1c12e4d8d9e509/src/components/ProseMirror/ProseMirror.vue#L51 and here https

[2020-10-30 13:49] morrits opened #36 "Translation Dutch (NL)"
$translations = [
    'nl' => [
        'gearsdigital.enhanced-toolbar-link-dialog.internal' => 'Interne Link',
        'gearsdigital.enhanced-toolbar-link-dialog.external' => 'Externe Link',
        'gearsdigital.enhanced-toolbar-link-dialog.empty' => 'Geen pagina's gevonden',
        'gearsdigital.enhanced-toolbar-link-dialog.target.title' => 'Link Doel',
        'gearsdigital.enhanced-toolbar-l

[2020-10-30 13:50] morrits commented on #36
Sorry don't know yet how to do a pull request!

[2020-10-30 13:58] morrits opened #37 "External link link target"
I think it is especially important that you can choose a link target for an external link. Now that is only possible with internally links.

[2020-11-17 08:47] gearsdigital commented on #37
Hi @morrits, thank you so much for contributing.

The External Link Dialog is the a Kirby default view and not part of this plugin. It is probably a good Idea to file this issue directly at Kirby?

[2020-11-17 08:47] #37 closed

[2020-11-17 08:48] gearsdigital commented on #36
Awesome 🥳

I'll add this for you and prepare a new release later this day.

[2020-11-26 21:29] #36 closed

[2021-08-20 12:18] zeljkovorel opened #49 "Compatibility issue with Kirby 3.6.0 alpha.x"
Hello everyone,
with new Kirby version "3.6.0 alpha.x" the page listing under INTERNER LINK isn't visible anymore.
Also German Language setting is not reflected anymore.
Last known running plug-in is with Kirby version "3.5.7.1"

I see:
![image](https://user-images.githubusercontent.com/88711468/130231052-b6fe637f-6d69-492c-bb77-e7dfe4b179b3.png)

instead of:
![image](https://user-images.githubuse

[2021-08-25 12:47] Maybach91 opened #50 "Internal Links should be converted to relative links"
Is it possible to have links within a textarea to be relative instead of absolute?

[code]

this gives me a with `$page->text()->kt()` the following:
[code]

If its a internal link, i want to get the following:
[code]

It works, if i change the link field in my textarea to the following:
[code]

[2021-10-30 21:16] gearsdigital commented on #49
Thanks for reporting! I'll have a look once I've completed the refactoring of my kirby-reporter plugin.

[2021-11-15 12:12] gearsdigital commented on #50
Hello @Maybach91 sorry for the late response and thank you very much for your feedback! I'll have a look on that.

[2021-11-15 13:27] gearsdigital opened #51 "Make list size configurable"
We should make the amount of visible pages configurable so a user can define what amount of pages he wants to see.

[2021-11-15 14:01] #49 closed

[2021-11-15 14:07] #33 closed

[2021-11-15 14:08] #51 closed

[2021-11-15 16:02] gearsdigital commented on #50
I'am not entirely that I understood your use-case correctly @Maybach91. What is your expectation here? Why do you need relative URLs?

[2021-11-15 16:53] gearsdigital commented on #34
I'll close this issue because the Kirby Editor is now EOL and has been archived by the owner.

[2021-11-15 16:53] #34 closed

[2021-11-16 07:25] Maybach91 commented on #50
Thanks for getting back to me! I set my base url to `/`. Which leads to have the absolute links set to `https://domain.com/https://domain.com/posts/lorem-ipsum` which fails to redirect. Maybe i have to find a workaround for this on my end. 🤔

[2021-11-16 13:28] gearsdigital opened #55 "Optimize user interface"
It would be nice the clean up the UI bit by removing the "Target" dropdown and get rid of "Frame" option. Maybe a simple checkbox or toggle field could do the trick.

[2021-11-16 14:02] herrajon commented on #55
@gearsdigital

I absolutely agree. I know both the people that still use the Frameset today. Most of the year they are without the Internet measuring wind speed in Jan Mayen.

A few observations:

1) Remove those frame options
2) Replace id with a checkbox/toggle field for new window/tab (target="_blank")
3) Add the new window option also and more importantly to the External link part.

As a rule

[2021-11-16 14:07] gearsdigital commented on #55
Thank you very much for your input! I'll figure something out.

[2021-11-16 14:12] gearsdigital commented on #50
I guess it would probably easier to handle it on your side - maybe a simple str_replace could do the trick?

[2021-11-29 19:11] #55 closed

[2021-11-29 20:35] gearsdigital commented on #50
I'm going to close this issue for now. If you want we can try to work something out. Just let me know :)

[2021-11-29 20:35] #50 closed

[2021-11-30 08:53] gearsdigital commented on #49
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #21
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #30
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #27
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #24
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #55
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #33
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:53] gearsdigital commented on #51
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:54] gearsdigital commented on #36
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:59] gearsdigital commented on #49
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 08:59] gearsdigital commented on #21
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #27
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #24
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #30
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #55
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #33
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #51
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-11-30 09:00] gearsdigital commented on #36
:tada: This issue has been resolved in version 1.4.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v1.4.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2021-12-01 21:57] MaluNoPeleke opened #59 "Compatibility with Kirby blocks"
Can you please add support for Kirby blocks links?
I have installed your latest plugin on my Kirby 3.6 environment and cannot see any difference for blocks links.

[2021-12-01 22:20] gearsdigital commented on #59
Howdy @MaluNoPeleke 🤠 Thank you very much for trying out my plugin! Could you please provide some more details? I'm not sure if I fully understand your use case.

It works as expected If you setup a custom block which uses a textarea.

[code]

<img width="1276" alt="Bildschirmfoto 2021-12-01 um 23 19 46" src="https://user-images.githubusercontent.com/965069/144323385-d582362f-70da-4c95-93a8-0d1bf6

[2021-12-02 20:24] MaluNoPeleke commented on #59
I am still new to Kirby and currently migrating my website from Ghost CMS.
This is my blueprint that I have tested:

[code]

This is how it looks like and I expected a replacement of the link feature with your enhanced version:
![image](https://user-images.githubusercontent.com/1446541/144497386-f0b32d39-f97c-4c75-9898-70082119181d.png)

[2021-12-03 07:40] gearsdigital commented on #59
I see. You opened the Dialog using the Writer Toolbar, correct? Let me look into that… maybe I'm able to figure out how to extend this component.

<img width="853" alt="Bildschirmfoto 2021-12-03 um 08 08 39" src="https://user-images.githubusercontent.com/965069/144563841-bb8e50ea-4cf7-4956-87b4-c5b021fe885e.png">
?

[2021-12-03 08:23] MaluNoPeleke commented on #59
Exactly, that would be great!

[2022-03-15 11:47] CrisGraphics opened #60 "Deprecation Warning with php 8.1.3"
Hi Steffen,

I'm getting the following deprecation warning when I log in to the panel:
`is_a(): Passing null to parameter #2 ($class) of type string is deprecated"`.
I went through all installed plugins and it seems, that the warning comes from the toolbar-link-dialog.
I recently upgraded my php version, so I guess, that's why the error shows up now.

Toolbar Version: 2.2.2
Kirby Version: 3.6.3-rc

[2022-03-15 17:19] gearsdigital commented on #60
Hi Chris, thanks for reaching out! So sorry to hear that ☹️

I haven't yet tested this plugin with PHP 8 and sadly no time to fix that. I guess this is only a warning... As a workaround you could set `error_reporting(E_ALL ^ E_WARNING)` which  enables all error reportings besides warnings.

[2022-05-17 15:49] jaro-io commented on #59
hey @gearsdigital, i am using the [writer field](https://getkirby.com/docs/reference/panel/fields/writer). and would also love to use your extended toolbar dialog. i dont know if its different from the [blocks field](https://getkirby.com/docs/reference/panel/fields/blocks), which was mentioned above. anyway, would be lovely to see it being added as well!

thank you so much for your time!
:sun_with

[2022-05-17 18:50] gearsdigital commented on #59
Hello @jaro-io, thanks for reaching out!

I'm currently not in active Kirby development and mentally far away from dealing with Vue components and Kirby in general. I need to find some motivation to step in again 🙈 I don't promise anything but I will invest a couple of hours on this issue.

[2022-07-09 18:38] gerricom commented on #60
The reason is, that the `type` of the defined model is `null`: https://github.com/gearsdigital/enhanced-toolbar-link-dialog/blob/main/index.php#L153

But... what is valid value? I tried setting it to `simplepagemodel` and this works... but I'm not sure, if it is intended to be?

[2022-07-25 14:55] trych opened #67 "Pages don't show up in 3.7"
Hi there!

In Kirby v3.7, the paginated list of pages does not show up anymore which does not allow for the selection of pages and effectively renders the plugin unusable.

![20220725-165500_Screenshot_starterkit test](https://user-images.githubusercontent.com/9803905/180807279-4a3d1ea8-656c-4357-b19e-51c2ef756c1c.png)

Note that the filtering and searching still seems to work as indicated by the

[2022-08-01 11:01] Maybach91 opened #68 "Cannot delete custom url pages"
**What i’m doing:**
I have a event with a date, when it happens. I want to add the date of the event to the slug of the page. e.g. EventXYZ happens on 02.08.2022 which should create a slug `eventxyz-02-08-2022`. This is currently working as expected. But unfortunately i cannot delete these “custom” generated pages. It shows me the following error after i clicked on "Delete":
![image](https://user-

[2022-08-03 11:56] gearsdigital commented on #68
Hello @Maybach91, are you sure you're in the right place to report this?

[2022-08-03 12:03] gearsdigital commented on #67
I am very sorry @trych. Haven't found time to make this plugin comptaible to Kirby 3.7 🙈 Are there any errors reportted to the error log or browser console?

What happens is that the Dialog makes a request to [this route](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/blob/96708bd9c4f0f2072289f885f4c9000304e03c22/index.php#L181).  Maybe this is a starting point?!

[2022-08-03 12:06] gearsdigital commented on #60
@gerricom I've no clue either 🙈 I didn't fully understand the simplepagemodel intially. I'll try to have a look on that topic within the next days.

[2022-08-03 12:17] Maybach91 commented on #68
Umm, maybe not you are right. 😅 First day after long vacation and the brain went some wrong ways, sorry for that.

[2022-08-03 12:18] #68 closed

[2022-08-05 06:50] Maybach91 commented on #67
I’ve got the same error. The `/pages` endpoints response is successful and looks good to me:

<details>
<summary><code>/api/enhanced-toolbar-link-dialog/pages?page=1</code> Response:</summary>

[code]

</details>

There are no Console Errors or Request Errors. Here you can see the successful console logs of your app:
https://app.birdeatsbug.com/sessions/MaXNWDh6dvJTF_vxAjkgEImkr43UYLf1-GRVV-UK_NBD

[2022-08-05 06:59] gearsdigital commented on #67
Thank you @Maybach91! It seems to be related to [`k-items/k-items`](https://getkirby.com/docs/reference/plugins/ui/items) which are used to render the list of pages within the modal. I'm currently working on that topic 🥳

[2022-08-05 07:12] Maybach91 commented on #67
@gearsdigital nice! thank you! i just installed a 3.6.6 (working) and the response of the API Call is exact the same.. (same structure etc). just to let you know :)

[2022-08-05 07:23] gearsdigital commented on #67
Wish me luck ^^

[2022-08-05 07:49] gearsdigital commented on #60
Hey @CrisGraphics, I just wanted to let you know that I've fixed the issue – as @gerricom pointed out, it is the missing `type`. Setting  it to `collection` seems to resolve it, but setting it to anything else like `simplepagemodel` or `''` works too. So the question stays: _What is a valid model type_?

Ommiting the `type` results in:

[code]

Setting type to null results in:

[code]

Maybe @luka

[2022-08-05 10:05] #60 closed

[2022-08-05 10:05] #67 closed

[2022-08-05 10:07] gearsdigital commented on #60
:tada: This issue has been resolved in version 2.2.3 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v2.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-05 10:07] gearsdigital commented on #67
:tada: This issue has been resolved in version 2.2.3 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v2.2.3)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-05 10:09] gearsdigital commented on #67
@trych @Maybach91 I was able to resolve this issue by removing the `k-items`-Component. I haven't spent too much time to investigate why it broke. I simply removed it. Anyhow, works again.

Thank you very much for your patience!

[2022-08-05 10:11] gearsdigital commented on #60
@gerricom @CrisGraphics This issue is resolved now. Sorry for delay 😜

[2022-08-05 10:16] gearsdigital commented on #59
@jaro-io @MaluNoPeleke  I just wanted to let you know that I'm working on that issue and I've got it almost working. I just need to figure out, how to "apply" the link.

Uploading Bildschirmaufnahme 2022-08-05 um 12.13.34.mov…

[2022-08-05 17:30] metakolor opened #71 "Invalid model type "Kirby\Cms\Page" expected: "Page""
Kirby 3.7.1
enhanced-toolbar-link-dialog 2.2.3

Pops up right after opening the link-modal.
<img width="481" alt="screenshot" src="https://user-images.githubusercontent.com/60016398/183130050-86d090a2-4192-43eb-80e6-08eb0641e5d5.png">

[2022-08-05 18:42] gearsdigital commented on #71
Sigh... 😵‍💫 Thanks @metakolor. I'll have a look!

[2022-08-05 19:46] gearsdigital commented on #71
@metakolor I'm not able to reproduce this using the [Starterkit](https://github.com/getkirby/starterkit) as base 🧐

Can you to change line 152 in the plugin index.php to this?

[code]

[2022-08-06 08:22] metakolor commented on #71
This worked for me, thank you!

[2022-08-06 08:34] #71 closed

[2022-08-06 21:10] gearsdigital commented on #71
Awesome! I'll release a fix then... Thank you very much for reaching out!

[2022-08-06 21:14] gearsdigital commented on #71
:tada: This issue has been resolved in version 2.2.4 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v2.2.4)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-09 14:41] gearsdigital commented on #59
@MaluNoPeleke Is this something that would work for you?

https://user-images.githubusercontent.com/965069/183678010-24e8aac6-5c0e-4101-af5b-a6475bc22e08.mp4

[2022-08-09 14:45] MaluNoPeleke commented on #59
Looking great for me!

[2022-08-09 14:49] gearsdigital commented on #59
Great 🥳

I decided to reduce the overall (_user interface_) complexity. I streamlined the page selection process to be more "Kirby"-like. I also figured, that a User most probably knows which page he wants to set a link, so the whole browsing process became obsolete

[2022-08-09 14:53] gearsdigital commented on #59
Oh, and just to mention. This UI works for non-internal links too.

<img width="473" alt="Bildschirmfoto 2022-08-09 um 16 53 15" src="https://user-images.githubusercontent.com/965069/183682176-094623e9-d983-4ef9-9362-08a43095895f.png">

[2022-08-09 14:56] MaluNoPeleke commented on #59
Good to know, that was my only concern

[2022-08-09 18:36] jaro-io commented on #59
thank you so much for spending more time on this @gearsdigital. i deeply appreciate that! 🌿🌱

i must say i actually liked it much more the way you had it before. i feel it might be very helpful to see a list of all the available links.

for example, in one use case i have tons of faq child pages that are part of an faq parent page. and i really don't know the title of each child. and in this case

[2022-08-09 19:00] gearsdigital commented on #59
Its is very helpful to udnerstand real usecases so your feedback means a LOT for me. Again, thank you very much @jaro-io!

<img width="620" alt="Bildschirmfoto 2022-08-09 um 20 54 59" src="https://user-images.githubusercontent.com/965069/183739482-4f648fe3-7fae-482d-ad64-cb0f80b05ed4.png">

[2022-08-09 20:12] trych commented on #67
@gearsdigital Thanks a lot, much appreciated!

[2022-08-10 13:01] jaro-io commented on #59
@gearsdigital yeah would be lovely to have both and an option to switch them on/off. great idea, thank you so much! 🌞 ✨

[2022-08-10 15:50] gearsdigital commented on #59
Perfect, will do so 🥳

[2022-08-11 14:02] gearsdigital commented on #59
https://user-images.githubusercontent.com/965069/184151351-ec468d93-d4bd-4fc1-827d-22348abbc368.mp4

[2022-08-14 11:30] #59 closed

[2022-08-14 11:32] gearsdigital commented on #59
:tada: This issue has been resolved in version 3.0.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v3.0.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-15 09:37] garethworld opened #74 "Feature request: Option to add a file for download e.g pdf"
It would be really useful to be able to add a file to create a download link.

[2022-08-15 09:44] gearsdigital commented on #74
That is actually a really good idea. I'll have look on that!

Thank your very much for reaching out @garethworld

[2022-08-15 13:44] renestalder opened #76 "Improve accessibility of UI"
The search results of the link field can't be selected by keyboard. I would usually expect them to be accessible by arrow keys. See the native `<datalist>` HTML element for an example of accessible keyboard navigation.

There are probably more issues when used with a screen reader (like announcement of update results etc.), but the keyboard navigation would already be a quick-win.

[2022-08-16 09:43] #76 closed

[2022-08-16 09:45] gearsdigital commented on #76
:tada: This issue has been resolved in version 3.1.0 :tada:

The release is available on [GitHub release](https://github.com/gearsdigital/enhanced-toolbar-link-dialog/releases/tag/v3.1.0)

Your **[semantic-release](https://github.com/semantic-release/semantic-release)** bot :package::rocket:

[2022-08-16 10:19] gearsdigital commented on #74
@garethworld I had some time to let this sink in a bit. While I _really_ like the idea, I'm uncertain that this makes sense from a usability perspective:
1. Some of the current interface elements aren't useful for files (e.g. anchor). What should I do? Ignore? Disable?
2. I need probably new interface elements so that a user can decide if he want to add a download attribute.
3. The download attrib

[2022-08-16 10:47] garethworld commented on #74
I think you are spot on with a separate button, much cleaner and easier to understand.

[2022-08-16 10:57] rasteiner commented on #74
my 2 cents: "oh-hi-mark" was intended only to add to a discussion.
Its a hack that was less hacky than the plugin it was based on: https://github.com/johannschopplich/kirby-writer-marks which at the time required the user to patch the kirby core.

Johann later rewrote his plugin and made it even less hacky than mine, so if you're considering to use one, it should probably be his.

[2022-08-16 11:24] gearsdigital commented on #74
Thanks @rasteiner!

@garethworld Yes, it is. Still not sure about if (and how) I'm going to implement this. I'll let you know.

[2022-09-01 09:56] saschabregenhorn opened #81 "Feature Request: Classes"
It would be super nice to have predefined classes:

`<a class="button" href=""></a>`

![classes](https://user-images.githubusercontent.com/2510090/187886872-8789f49c-580a-465c-9b2a-f33c9cf35b2b.png)

[2022-09-01 14:34] gearsdigital commented on #81
Thank you for reaching out @saschabregenhorn... Your idea is awesome and would be great addition to the existing feature set! Sadly (and I regret I've to say that) it isn't (easily) possible right now. The simple reason is: I've no control over the generated markup.

Let me explain... the HTML Markup is generated [here](https://github.com/getkirby/kirby/blob/3.7.5/panel/src/components/Forms/Writer

[2022-09-01 14:41] saschabregenhorn commented on #81
All right, thanks for the explanation! 🤘🏻

[2022-09-09 12:53] arnaudjuracek opened #82 "Feature request: Option to disable the anchor field"
First of all, thank you for your plugin. It is so simple that I may use it by default on all my new Kirby projects, until it ends up being eventually integrated to the Kirby core.

It would be really nice to have a config option to disable the anchor field, to allow building simpler websites for unskilled clients who do not need to know what an anchor is.

[2022-09-10 08:57] gearsdigital commented on #82
You are very welcome @arnaudjuracek! Glad you find my plugin useful 🙏🏻

I like your idea and I'm going to implement this not only for the anchor, but also for every other field. It's a bit more challenging to keep the layout consistent. Not every field takes the full width, but I'm confident to find a proper solution :)

[2022-09-23 05:36] chrfickinger opened #83 "Not compatible with latest Kirby release anymore"
Kirby removed the DS constant. It was no longer used in Kirby 3 and only kept for backwards-compatibility with Kirby 2.
(see: https://github.com/getkirby/kirby/releases/tag/3.8.0-rc.1)

[2022-09-25 17:33] gearsdigital commented on #83
Thanks @chrfickinger! I'll have an eye on that...

[2022-11-23 10:34] purplespider commented on #74
This would be my ideal Kirby link dialog:

<img src="https://user-images.githubusercontent.com/329880/203524056-160cae46-ec63-4f00-ac25-3232dd1ea84c.png" width="502">

The fields would change based on the selected "Link type".

_(Mockup based on the link dialog from the Markdown plugin, where it alrady has the radio buttons for "type". I have added the "Page" (plus dropdown) and "File" options)._